@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    background-image: url(../img/bg-repeat.jpg);
    background-repeat: repeat;
    background-size: contain;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    align-items: center;
}

.texto-inicial {
    font-family: 'roboto', sans-serif;
    color: #fff;
    width: 300px;
    margin-right: 60px;
}

.texto-inicial .titulo1 {
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 11px;
}

.texto-inicial .paragrafo {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.formulario {
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    width: 340px;
    height: 378px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.formulario .campo {
    border: 1px solid #000;
    border-radius: 5px;
    width: 100%;
    padding: 9px;
    margin-top: 7.5px;
    align-self: center;

}

.formulario .campo:first-child {
    margin-top: 0;
}

.formulario .campo.mensagem {
    font-family: 'roboto', sans-serif;
}

.formulario .campo-obrigatorio {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}

.formulario .btn-enviar {
    padding: 12px;
    background-color: #3ccc87;
    border-radius: 5px;
    border: none;
    font-family: 'roboto', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}

.formulario .rotulo {
    opacity: 0;
    font-size: 8px;
    color: #f52e2e;
}

.formulario .rotulo.ativo {
    opacity: 1;
}
